* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto";
}

.card-container {
  height: 100%;
  background-color: #e3e5f1;
  display: flex;
  justify-content: center;
  align-items: center;
  .shipment-card {
    padding: 3rem;
    border-radius: 2rem;
    width: min(550px, 100%);
    background-color: #ffffff;
    box-shadow: 0 34px 64px 0 rgba(#60679f, 20%);
    .header {
      color: #10153e;
      font-size: 2rem;
      font-weight: 700;
    }
    .details {
      margin-top: 2rem;
      background-color: #f7f7fa;
      border-radius: 1rem;
      padding: 1.5rem;
      dl {
        display: flex;
        justify-content: space-between;
        dt {
          font-size: 0.75rem;
          font-weight: 400;
          color: #60679f;
          display: flex;
          gap: 0.25rem;
          align-items: center;
          margin-bottom: 0.5rem;
        }
        dd {
          font-size: 0.8rem;
          color: #10153e;
        }
      }
    }
    .timeline {
      margin: 0;
      margin-top: 32px;
      list-style: none;
      .step {
        border-left: 2px solid #60679f;
        padding-left: 22px;
        position: relative;
        .description {
          color: #10153e;
          margin-bottom: 8px;
          line-height: 24px;
        }
        &:first-child {
          &::before {
            top: 0;
          }
          .description {
            position: relative;
            top: -4px;
            margin-bottom: 4px;
          }
        }
        .meta {
          color: #60679f;
          font-size: 12px;
          padding-bottom: 24px;
        }

        &::before {
          content: "";
          height: 18px;
          width: 18px;
          border: 1px solid #60679f;
          border-radius: 50%;
          position: absolute;
          left: -12px;
          background: white;
          top: 4px;
        }
        &.active {
          &::before {
            border-width: 4px;
            height: 14px;
            width: 14px;
          }
        }
      }
    }
  }
}
