*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  background-color: #333;
  font-size: 16px;
  max-width: 42rem;
  margin: auto;
}

.card {
  background-color: #f8f8f8;
  padding: 3rem;
  border-radius: 1.5rem;
}
.card .header {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3.5rem;
}
.card .header .title {
  font-size: 2rem;
  font-family: Merriweather;
  flex-grow: 1;
}
.card .header .average-rating-section {
  font-size: 14px;
  padding: 17px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 7px 20px 0px rgba(115, 116, 156, 0.08);
  font-weight: 500;
  text-align: center;
  min-width: 150px;
}
.card .header .average-rating-section .average-rating {
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.card .header .average-rating-section .star-icon {
  width: 46px;
  height: 46px;
}
.card .search-bar {
  position: relative;
  margin-bottom: 32px;
}
.card .search-bar svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  width: 24px;
  height: 24px;
}
.card .search-bar .search-input {
  padding: 16px;
  padding-left: 36px;
  border: none;
  border-radius: 26px;
  background-color: white;
  font-weight: 500;
  font-size: inherit;
  width: 100%;
  box-shadow: 0 7px 20px 0px rgba(115, 116, 156, 0.08);
}
.card .review-section {
  margin-bottom: 56px;
}
.card .review-section .review-title {
  margin-bottom: 16px;
}
.card .review-section .review-row {
  margin-bottom: 18px;
  display: grid;
  grid-template-columns: auto 1fr 18px;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  padding: 0 10px;
}
.card .review-section .review-row:last-child {
  margin-bottom: 0;
}
.card .review-section .review-row .review-number {
  grid-auto-flow: column;
  display: grid;
  gap: 4px;
}
.card .review-section .review-row .review-number span {
  width: 11px;
}
.card .review-section .review-row .review-bar {
  --border-radius: 1px;
  flex-grow: 1;
  background-color: #eeeeee;
  border: var(--border-radius) solid #c9c9c9;
  position: relative;
  height: 10px;
  border-radius: 100px;
}
.card .review-section .review-row .review-bar::after {
  content: "";
  border: var(--border-radius) solid #efb153;
  background-color: #ffd66f;
  position: absolute;
  border-radius: 100px;
  top: calc(-1 * var(--border-radius));
  bottom: calc(-1 * var(--border-radius));
  left: calc(-1 * var(--border-radius));
  width: calc(2 * var(--border-radius) + var(--width, 0%));
}
.card .review-section .review-row .review-bar.empty::after {
  content: none;
}
.card .review-btn {
  background-color: #19184a;
  color: white;
  font-size: inherit;
  font-family: inherit;
  padding: 16px 24px;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  outline: 1px hsl(238deg, 49%, 79%);
}
.card .review-btn:hover {
  background-color: hsl(238deg, 49%, 39%);
}

.star-icon {
  width: 25px;
  height: 25px;
}
.star-icon .icon-path {
  fill: #ffd66f;
}

@media only screen and (max-width: 480px) {
  .card {
    padding: 1rem;
  }
  .card .header {
    gap: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .card .header .title {
    font-size: 1.5rem;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */